doctype html
html(lang="en")
  head
    include _include/head
  body
    main
      include _include/about-header
      
      section.main-content.container.row.about-content
          .col.col--7-of-12.col--centered.about-me-description 
            img(src="media/images/profile-img.jpg", alt="MUDIT JAIN")
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        section.work-journey.col.col--7-of-12.col--centered
          figure.center
            img(src="media/images/logo.png", alt="mudit jain")
        
          article.journey.row--no-gutter
            h1.center 1996
            .j-detail.col.col--6-of-12.col--push-6-of-12.j-left
                  p This Child me,<br> 
                    |Oh he just start laughing,<br> 
                    |let give him the name happy.  
        
          article.journey.row--no-gutter
            h1.center 2000
            .j-detail.col.col--6-of-12.j-right
              p You can walk now.<br> 
                |grew enough to school,<br> 
                |started school.  
        
          article.journey.row--no-gutter
            h1.center 2010
            .j-detail.col.col--6-of-12.col--push-6-of-12.j-left
              p Good Bye! House,<br>
                | I’m going away..<br>good bye dad :)  
            
          article.journey.row--no-gutter
            h1.center 2000
            .j-detail.col.col--6-of-12.j-right
              p You can walk now.<br> 
                |grew enough to school,<br> 
                |started school.  
            
          article.journey.row--no-gutter
            h1.center 2010
            .j-detail.col.col--6-of-12.col--push-6-of-12.j-left
              p Good Bye! House,<br>
                | I’m going away..<br>good bye dad :)  
            
          article.journey.row--no-gutter
            h1.center 2013
            .j-detail.col.col--6-of-12.j-right
              p Completed +2 school.<br> 
                |Confused about what to do next.
              
              p Finally joined<br>
                Virtual Voyage Design School
              
              p Learned Graphic Design<br>
                |basics, User interface design,<br>
                |2d animation and much more!<br>
                |So much exciting
          
          article.journey.row--no-gutter
            h1.center 2014
            .j-detail.col.col--6-of-12.col--push-6-of-12.j-left
              p From beginner to winner.<br>
                |Got my first job. Really Exciting.<br>Thanks God ... 
                
              p Started working for <br>
                | Viaatek infosoft pvt. ltd. as a<br>
                | *Graphic/web designer<br>
                | *2d animater<br>
                | *Flash action script 2.0 programmer
            
          article.journey.row--no-gutter
            h1.center 2015
            .j-detail.col.col--6-of-12.j-right
              p Drop the job in viaatek.<br>
                | I had a really good time there.<br>
                | good bye friends.
                
              p Yeah New Job! Started <br>
                | working for Appsonova. as a<br>
                | UI/UX & web designer,<br>
                | Wordprerss Designer & Developer.
              
              p This agency didn’t working out <br>
                | anymore ! sad...:(
                
              p Started Working for<br>
                |" Consagous technologies pvt. ltd " as a UI/UX & web designer <br>
                | Wordprerss Designer & Developer
              
            article.journey.row--no-gutter
              h1.center here i'm
              
            article.journey.row--no-gutter
              h1.center 2016
              .j-detail.col.col--6-of-12.col--push-6-of-12.j-left
                    p waiting....  <br> 
                               
            
                
               
              
                
    include _include/footer
    
    
     
    
    
