doctype html
html(lang="en")
  head
    include _include/head
  body
    main
      header.about-banner
        .container
          section.header-top.clearfix            
            .branding
              .logo.uc tidum
            nav.main-navigation
              ul
                li: a.uc(href="") about me<br>
                  .active 
                li: a.uc(href="") projects<br>
                  .active
                li: a.uc(href="") hire me<br>
                  .active
          .banner-content
            p
              | Hello THerE,<br>
              | How’re you doin’ ?<br>
              | I’m mudit. nICE TO MEET YOU:)
            h1 Full Process  
            h2 Designer
      //header closed
      
               
            
            
            
            
    
    
      
      
    include _include/footer
    
    
     
    
    
