footer.footer.center(style="margin-top:30px") 
  h5.uc Copyright 2016..techmudit.com
  .social-links
    a.uc(href="#") Behance
    a.uc(href="#") linkedin
    a.uc(href="#") github
    
script(type="text/javascript", src="js/jquery.min.js")
  
