meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title MUDIT JAIN
//importing fonts lato/open-sans
  
link(rel="stylesheet" href="css/main.css")
link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,300,900|Open+Sans:400,300")
