@import "reset"
$lato:'Lato', sans-serif
body
  font-family:'Open Sans', sans-serif
  font-size: 15px
h1,h2,h3,h4,h5,h6
  font-family: 'Lato', sans-serif
  font-weight: 600
a
  text-decoration: none
  color: inherit
.uc
  text-transform: uppercase
.center
  text-align: center
